.sport-event-address-page-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1519743375942-b497d66b1e8f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sport-event-address-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
  width: 60%;
  height: 600px;
  max-width: 700px;
}

form {
  width: 100%;
}

.mb-3.inline {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mb-3.inline-street {
  display: flex;
  gap: 10px;
  align-items: center; 
}

.mb-3.inline label,
.mb-3.inline input,
.mb-3.inline-street label,
.mb-3.inline-street input {
  flex: 1;
}